### Mini project 8 -- Revisiting Ali and Johnson
As Ali & Jonson continues to grow, keeping all of their data in a dicionary is becoming inefficient. You are approached as the in-house data guy to find a solution to this problem. Below is the dictionary containing the products soldand various fields that must be transformed to an efficeint storage format.

1. Convert this dictionary to a Pandas DataFrame
2. Altogether, how many products are present in your newly created DataFrame?
3. How many unique product categories are present in the DataFrame?
4. What category has the most product sold?
5. What is the least Price you can expect to get a product from Ali & Johnson? What product goes for this price?
6. What is the total number of product sold during this period?
7. Create a new field (i.e column) to calculate the revenue generated selling each product. [revenue = price * unit sold]
8. Which product category generated the highest revenue?

In [1]:
product_dict = {"Product Name":
                ['footwear', 'eyewear','bags','table','ear ring','chair','couch','bed frame', 'TV','Sunglass','refrigirator'],
               "Product Category":
                ['Fashion', 'Fashion', 'Fashion', 'Furniture', 'Fashion', 'Furniture','Furniture','Furniture','Electronics', 'Fashion', 'Electronics'],
               "Unit Sold":[3,4,2,6,4,5,2,1,8, 8,7],
               "Price":[10,5,7,15,20,17,23,29,54,6,60]}

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dell\downloads\anaconda\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dell\downloads\anaconda\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dell\downloads\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\downloads\anaconda\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\dell\downloads\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
# Convert this dictionary to a Pandas DataFrame

import pandas as pd

product_dict = {"Product Name":
                ['footwear', 'eyewear','bags','table','ear ring','chair','couch','bed frame', 'TV','Sunglass','refrigirator'],
               "Product Category":
                ['Fashion', 'Fashion', 'Fashion', 'Furniture', 'Fashion', 'Furniture','Furniture','Furniture','Electronics', 'Fashion', 'Electronics'],
               "Unit Sold":[3,4,2,6,4,5,2,1,8, 8,7],
               "Price":[10,5,7,15,20,17,23,29,54,6,60]}
#converting the product_dict to a df
df = pd.DataFrame(product_dict)
print(df)

    Product Name Product Category  Unit Sold  Price
0       footwear          Fashion          3     10
1        eyewear          Fashion          4      5
2           bags          Fashion          2      7
3          table        Furniture          6     15
4       ear ring          Fashion          4     20
5          chair        Furniture          5     17
6          couch        Furniture          2     23
7      bed frame        Furniture          1     29
8             TV      Electronics          8     54
9       Sunglass          Fashion          8      6
10  refrigirator      Electronics          7     60

In [4]:
# Number of products present in my newly created DataFrame

num_products = df.shape[0]

print(f"The total number of products are: {num_products}")

The total number of products are: 11

In [10]:
# Number of unique product categories are present in the DataFrame

df = pd.DataFrame(product_dict)

product_dict["Product_category"] = ['Fashion', 'Fashion', 'Fashion', 'Furniture', 'Fashion', 'Furniture','Furniture','Furniture','Electronics', 'Fashion', 'Electronics']
pd.DataFrame(product_dict) == df["Product_category"].nunique()

    Product Name  Product Category  Unit Sold  Price  Product_category
0          False             False       True  False             False
1          False             False      False  False             False
2          False             False      False  False             False
3          False             False      False  False             False
4          False             False      False  False             False
5          False             False      False  False             False
6          False             False      False  False             False
7          False             False      False  False             False
8          False             False      False  False             False
9          False             False      False  False             False
10         False             False      False  False             False

In [11]:
# Category with the most product sold

product_dict = {"Product Name":
                ['footwear', 'eyewear','bags','table','ear ring','chair','couch','bed frame', 'TV','Sunglass','refrigirator'],
               "Product Category":
                ['Fashion', 'Fashion', 'Fashion', 'Furniture', 'Fashion', 'Furniture','Furniture','Furniture','Electronics', 'Fashion', 'Electronics'],
               "Unit Sold":[3,4,2,6,4,5,2,1,8, 8,7],
               "Price":[10,5,7,15,20,17,23,29,54,6,60]}


df = pd.DataFrame(product_dict)

category_sales = df.groupby('Product Category')['Unit Sold'].sum()

most_sold_category = category_sales.idxmax()

print(f'The category with the most products sold is: {most_sold_category}')

The category with the most products sold is: Fashion

In [5]:
# 5a least Price you can expect to get a product from Ali & Johnson


df = pd.DataFrame(product_dict)

category_sales = df.groupby('Product Category')['Unit Sold'].sum()

least_price = category_sales.idxmin()

df['Least_Price'] = df[['Product Category']].min(axis=1)
print(df)

#print(f'The least price from Ali & Johnson is: ${least_price}')

    Product Name Product Category  Unit Sold  Price  Least_Price
0       footwear          Fashion          3     10      Fashion
1        eyewear          Fashion          4      5      Fashion
2           bags          Fashion          2      7      Fashion
3          table        Furniture          6     15    Furniture
4       ear ring          Fashion          4     20      Fashion
5          chair        Furniture          5     17    Furniture
6          couch        Furniture          2     23    Furniture
7      bed frame        Furniture          1     29    Furniture
8             TV      Electronics          8     54  Electronics
9       Sunglass          Fashion          8      6      Fashion
10  refrigirator      Electronics          7     60  Electronics

In [11]:
# 5b What product goes for this price?

df = pd.DataFrame(product_dict)


least_price = category_sales.idxmin()

df['Least_Price_Index'] = df['Price'].idxmin(axis=0)

df['Least_Price_Product'] = df.apply(lambda row: row['Product Category'] if row.name == row['Least_Price_Index'] else None, axis=1)

print(df[['Product Category', 'Least_Price_Product']])

#print(f'The product with the least price is: {product_least_price}')

   Product Category Least_Price_Product
0           Fashion                None
1           Fashion             Fashion
2           Fashion                None
3         Furniture                None
4           Fashion                None
5         Furniture                None
6         Furniture                None
7         Furniture                None
8       Electronics                None
9           Fashion                None
10      Electronics                None

In [9]:
# Total number of product sold during this period

total_products_sold = df['Unit Sold'].sum()
print(f"The totalnumber of products sold during this period is: {total_products_sold}")

The totalnumber of products sold during this period is: 50

In [15]:
# Create a new field (i.e column) to calculate the revenue generated selling each product. [revenue = price * unit sold]

df['Revenue'] = df['Price'] * df['Unit Sold']

print(df)

    Product Name Product Category  Unit Sold  Price  Revenue
0       footwear          Fashion          3     10       30
1        eyewear          Fashion          4      5       20
2           bags          Fashion          2      7       14
3          table        Furniture          6     15       90
4       ear ring          Fashion          4     20       80
5          chair        Furniture          5     17       85
6          couch        Furniture          2     23       46
7      bed frame        Furniture          1     29       29
8             TV      Electronics          8     54      432
9       Sunglass          Fashion          8      6       48
10  refrigirator      Electronics          7     60      420

In [12]:

# Assuming df is your DataFrame with the 'Revenue' column
# If you haven't added the 'Revenue' column yet, use the previous code to add it.

df['Revenue'] = df['Price'] * df['Unit Sold']


# Product category that generated the highest revenue
max_revenue_category = df.loc[df['Revenue'].idxmax(), 'Product Category']
print(f"The product category with the highest revenue is: {max_revenue_category}")

The product category with the highest revenue is: Electronics